{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block tittle%} LOGIN {%endblock%}

{% block content %}

            <!-- Login Section Start -->
            <section id="login">
                <div class="container">
                    <div class="section-header">
                        <h3>Registration / Login</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="login-col-1">
                                <div class="login-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" placeholder="Your Name" required="required" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="email" class="form-control" placeholder="Your Email" required="required" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" placeholder="Your Password" required="required" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" placeholder="Repeat Your Password" required="required" />
                                            </div>
                                        </div>
                                        <div><button type="submit" >Register</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="login-col-2">
                                <div class="login-form">
                                    <form id="login-form" class="form" action="" method="POST">
                                        <div class="form-group">
                                            {% csrf_token%}
                                            {{ form | crispy}}
                                        </div>
                                        <div><button type="submit" name="submit" class="btn btn-success btn-md" value="submit">Login</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Login Section End -->
{% endblock content %}

